<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Dashboard</h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-info"
              ><i class="far fa-envelope"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text"
                >Total de Requisiciones</span
              >
              <span class="info-box-number">{{this.totalRequisitions}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-success"
              ><i class="far fa-flag"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Presupuesto Aprobado</span>
              <span class="info-box-number">₡ {{this.approvedBudget}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-warning"
              ><i class="far fa-copy"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Requisiciones Aprobadas</span>
              <span class="info-box-number"
                >{{this.totalApprovedRequisitions}}</span
              >
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-danger"
              ><i class="far fa-star"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Requisiciones Rechazadas</span>
              <span class="info-box-number"
                >{{this.totalDeniedRequisitions}}</span
              >
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="card">
        <div class="card-header border-0">
          <h3 class="card-title">General</h3>
          <div class="card-tools">
            <a href="#" class="btn btn-tool btn-sm">
              <i class="fas fa-download"></i>
            </a>
            <a href="#" class="btn btn-tool btn-sm">
              <i class="fas fa-bars"></i>
            </a>
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-striped table-valign-middle">
            <thead>
              <tr>
                <th>Requesiciones</th>
                <th>Precios</th>
                <th>Asignaciones</th>
                <th>Mas Informacion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Requesicion
                </td>
                <td>25 000</td>
                <td>
                  <small class="text-success mr-1">
                    Aprobada
                  </small>
                  Juan Martinez
                </td>
                <td>
                  <a href="#" class="text-muted">
                    <i class="fas fa-search"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  Requesicion
                </td>
                <td>25 000</td>
                <td>
                  <small class="text-success mr-1">
                    Aprobada
                  </small>
                  Juan Martinez
                </td>
                <td>
                  <a href="#" class="text-muted">
                    <i class="fas fa-search"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  Requesicion
                </td>
                <td>25 000</td>
                <td>
                  <small class="text-success mr-1">
                    Aprobada
                  </small>
                  Juan Martinez
                </td>
                <td>
                  <a href="#" class="text-muted">
                    <i class="fas fa-search"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  Requesicion
                </td>
                <td>25 000</td>
                <td>
                  <small class="text-success mr-1">
                    Aprobada
                  </small>
                  Juan Martinez
                </td>
                <td>
                  <a href="#" class="text-muted">
                    <i class="fas fa-search"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  Requesicion
                </td>
                <td>25 000</td>
                <td>
                  <small class="text-success mr-1">
                    Aprobada
                  </small>
                  Juan Martinez
                </td>
                <td>
                  <a href="#" class="text-muted">
                    <i class="fas fa-search"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.card -->
    </div>
  </section>
</div>

<app-footer></app-footer>
