<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Dashboard</h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-info"
              ><i class="far fa-envelope"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text"
                >Total de Requisiciones</span
              >
              <span class="info-box-number">{{this.totalRequisitions}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-success"
              ><i class="far fa-flag"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Presupuesto Aprobado</span>
              <span class="info-box-number">₡ {{this.approvedBudget}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-warning"
              ><i class="far fa-copy"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Requisiciones Aprobadas</span>
              <span class="info-box-number"
                >{{this.totalApprovedRequisitions}}</span
              >
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-danger"
              ><i class="far fa-star"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Requisiciones Rechazadas</span>
              <span class="info-box-number"
                >{{this.totalDeniedRequisitions}}</span
              >
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
  <div class="card card-primary card-outline">
    <div class="card-header">
      <div class="card-title">
        <label>Fecha del Reporte </label>
      </div>
      <div class="card-tools">
        <div class="col-md-12">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <!-- DONUT CHART -->
              <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">Requisiciones Distribución</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <canvas id="pieChart"
                    style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col (LEFT) -->
            <div class="col-md-6">
              <!-- BAR CHART -->
              <div class="card card-success">
                <div class="card-header">
                  <h3 class="card-title">Requisiciones Cantidad</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas id="barChart"
                      style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col (RIGHT) -->
          </div>




        </div>
        <p></p>
        <div class="container-fluid">





        </div>
      </section>
    </div>
  </div>

    </div>
  </section>
</div>

<app-footer></app-footer>
